.details {
    padding: 0 1em;
    max-width: 80em;
    margin: 0 auto;
}

.media img  {
    width: 100%;
    height: auto;
}

.plan-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.plan-details {
    flex: 0 0 45%;
    margin: 0.5em;
}

.details-button {
    margin-bottom: 4em;
}