.Post {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
}

.media {
    max-width: 60em;
}

.description {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    margin-bottom: 0.5%;
    width: 95%;
    display: inline-block;
    vertical-align: top;
}

.Post div {
    height: auto;
    text-align: right;
    margin-bottom: 0.5%;
}

.Post div span {
    text-decoration: underline;
    text-align: right;
    padding-right: 1%;
}

.Post img {
    width: 32px;
    height: 32px;
}