.link {
    padding: 0.5em 1em;
    color: white;

}


.link:hover, .brand:hover, .link button:hover {
    text-decoration: none;
    color: rgb(87, 133, 192);
}

.brand {
    color: yellowgreen;
}

.custom-link {
    border: 1px solid green;
    border-radius: 0.8em;
}

.custom-link:hover, .brand:hover {
    text-decoration: none;
    color: green;
}

.navbar-toggler-icon {
    border-radius: 5px;
    background-color: white !important;
}

.link button {
    outline: none !important;
    background-color: transparent !important;
    padding: 0;
    border: none;
    color: white;
}

.dropdown-menu {
    background-color: #343A40 !important;
}

.dropdown-link {
    color: white;
    display: block;
}