.jumbotron-comp {
  background: linear-gradient(
      to top,
      rgba(68, 66, 66, 0.05),
      rgba(139, 134, 134, 0.2)
    ),
    url('https://srv2.imgonline.com.ua/result_img/imgonline-com-ua-twotoone-5QelRfz08sD4a.jpg')
      no-repeat center center;
  background-size: cover;
  padding: 15em 0 15em 0;
  color: #fff;
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.79);
}

.jumbo-link {
  border: none;
  color: white;
  font-size: 1.2em;
}

.jumbo-link:hover {
  text-decoration: none;
  color: red;
}

@media only screen and (max-width: 500px) {
  .jumbotron-comp {
    padding-bottom: 7em;
  }
}
