.info-title {
    margin-top: 1em;
}

.custom-card-deck {
    max-width: 60rem;
    margin: 0.5em auto !important;

}

.custom-card {
    border: none !important;
    box-shadow: 1px 1px 35px -2px rgba(0,0,0,0.37);
}