.link {
    padding: 0.5em 1em;
    color: white;

}

.link:hover, .brand:hover {
    text-decoration: none;
    color: red;
}

.brand {
    color: yellowgreen;
}

.custom-link {
    border: 1px solid green;
    border-radius: 0.8em;
}

.custom-link:hover, .brand:hover {
    text-decoration: none;
    color: green;
}

.navbar-toggler-icon {
    border-radius: 5px;
    background-color: white !important;
}