*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 18px/1.5 'Courgette', cursive;
    position: relative;

}


.toast-outer {
    position: relative;
    min-height: 0px;
}

.toast-inner {
    z-index: 100;
    position: absolute;
    top: 4em;
    left: 0;
}

.toast-body {
    background-color:#3f9653;
    color: #D4EDDA;
}