.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    flex: 25% 0 0;
    padding: 0.5em;
}

.custom {
    display: flex;
    justify-content: center;
}

.custom * {
    color: black;
    font-weight: 600;
    border-right: 1px solid white !important;
}

.custom *:hover {
  color: green;
}

.custom .active {
    font-weight: 900;
    border-bottom: 2px solid green !important;
}
