.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    flex: 50% 0 0;
    padding: 0.5em;
}

.custom {
    background: rgb(43, 42, 42);
}

.custom * {
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    border-right: 1px solid white !important;
}

.custom *:hover {
    background-color: white;
    color: black;
}